*{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenedor{
	padding:10px;
	width:100%;
	max-width: 600px;
	height: 600px;
	background-color: aqua;

	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
	
}

.caja1{
	margin:0 5px;
	width:200px;
	height:200px;
	background-color: red;
	order:3;
	display:flex;
	align-self: flex-start;
}

.caja2{
	margin:0 5px;
	width:200px;
	height:200px;
	background-color: yellow;
	filter: blur(7px);
	transition: all 1s ease;

	display:flex;
	justify-content:center;
	align-items:center;
	font-size: 25px;
	font-weight: 700;
	color:yellow;
}

.caja2:hover{
	cursor:pointer;
	color:aqua;
	background-color: blueviolet;
	filter: blur(0px);
}

.caja3{
	margin:0 5px;
	width:200px;
	height:200px;
	background-color: blue;
	display:flex;
	align-self: flex-end;
}
