*{
	font-family: 'Roboto Condensed', sans-serif;
}

body{
	width: 500px;
	height: 900px;
	background-color:rgba(0, 0, 0, 0.1) ;
}


header h1{
	font-size: 40px;
	text-align: center;
	color:#CDB4DB ;
}

.menu{
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-bottom: solid black 1px;
}

.menu a{
	font-size: 16px;
	color:#FFAFCC ;
	text-decoration: none;
	padding:  5px;
	transition: all 0.2s ease-in-out;
}

.menu a:hover{
	font-size: 18px;
	color: #A2D2FF;
}

.redes{
	display:flex;
	margin: 0 auto;
	flex-direction: column;
}

.redes img{
	width: 3rem;
	padding: 10px;
}

main{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.cuerpo-inicio{
	margin: 5px;
	width: 80%;
	height: 50%;
	background-image: url(../media/img/palacio.jpg);
	background-size: cover;
	background-repeat: none;
}

.fondo{
	position: absolute;
	width: 400px;
	height: 450px;
	background-color: rgba(255, 175, 204,0.3);
}

.bienvenida{
	font-size: 25px;
	text-align: center;
	background-color: red;
}