*{
	font-family: 'Roboto Condensed', sans-serif;
}

header h1{
	text-align: center;
}

.menu{
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.menu a{
	font-size: 16px;
	text-decoration: none;
	padding:  5px;
	transition: all 0.2s ease-in-out;
}

.menu a:hover{
	font-size: 18px;
	color: black;
}

.redes{
	border-top: solid black 1px;
	display:flex;
	margin: 0 auto;
	flex-direction: column;
}

.redes img{
	width: 3rem;
	padding: 10px;
}